div.p-password i {
  cursor: pointer;
}

.layout-content {
  padding: 1rem 2rem 2rem 1rem;
  flex: 1 1 auto;
  -ms-flex: 1 1 auto;
}

.workbook-card {
  cursor: pointer;
}
.workbook-card div.card {
  transition: background 100ms ease-out 0s;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px;
}
.workbook-card div.card:hover {
  background: #f8f8f8;
  box-shadow: rgba(15, 15, 15, 0.2) 0px 0px 0px 1px, rgba(15, 15, 15, 0.2) 0px 2px 4px;
}

.new-workbook-form {
  min-width: 500px;
}
.new-workbook-form div.icon-select-button {
  max-width: 350px;
}
.new-workbook-form div.color-select-button {
  max-width: 280px;
}
.new-workbook-form div.color-select-button div.p-highlight {
  background-color: transparent;
  background: transparent !important;
}
.new-workbook-form div.color-select-button div.p-button {
  padding: 0.5rem 0.1rem;
}

.inherit-width {
  width: inherit;
}

.v-center {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.loading-spinner {
  opacity: 0.5;
}

nav.v-breadcrumb {
  border: none;
  margin-top: 3px;
  padding: 6px;
}
nav.v-breadcrumb ul > li:last-child {
  cursor: none;
  pointer-events: none;
}

.details-selector-holder {
  opacity: 0;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}
.details-selector-holder:hover {
  opacity: 1;
}

.pi-chip-remove-icon {
  margin-left: 0.5rem;
  border-radius: 3px;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}

.chip-dropdown {
  height: 35px;
}
.chip-dropdown div.p-component {
  border-radius: 5px;
}
.chip-dropdown span.p-inputtext {
  padding-top: 6px;
  padding-bottom: 6px;
}
.chip-dropdown div.p-chip-text {
  margin-top: 0;
  margin-bottom: 0;
}

.round-icon-container {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  color: rgba(55, 53, 47, 0.8);
  fill: rgba(55, 53, 47, 0.8);
}

.round-icon-wrapper {
  background: white;
  border-radius: 100%;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 2px 4px;
}

.round-icon-wrapper-inner {
  border-radius: 100%;
  width: 20px;
  height: 20px;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  opacity: 1;
}
.round-icon-wrapper-inner div {
  width: 100%;
  height: 100%;
  position: relative;
}
.round-icon-wrapper-inner div i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.member-tabview div.p-tabview-panels {
  padding: 1rem 0rem 1rem 0rem;
}

.none-select {
  user-select: none;
}

.border-top {
  border-top: 1px solid #e8e7e4;
}

.v-drag-row {
  user-select: none;
}
.v-drag-row img.draggable-icon {
  height: 12px;
  cursor: grab;
}

.header-des {
  user-select: none;
  transition: background 20ms ease-in 0s;
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
  height: 24px;
  border-radius: 3px;
  font-size: 14px;
  line-height: 1.2;
  min-width: 0px;
  padding-right: 6px;
  padding-bottom: 5px;
  color: rgba(55, 53, 47, 0.4);
}

.v-dropdown {
  min-width: 220px;
}
.v-dropdown span.title {
  margin-left: 4px;
  font-weight: 600;
}

.font-light-uppercase {
  display: flex;
  padding-left: 14px;
  padding-right: 14px;
  margin-top: 6px;
  margin-bottom: 8px;
  color: rgba(55, 53, 47, 0.6);
  font-size: 11px;
  font-weight: 500;
  line-height: 120%;
  user-select: none;
  text-transform: uppercase;
}

.font-500 {
  font-weight: 500;
}

.radius-0 {
  border-radius: 0;
}

.radius-1 {
  border-radius: 1px;
}

.radius-2 {
  border-radius: 2px;
}

.radius-3 {
  border-radius: 3px;
}

.radius-4 {
  border-radius: 4px;
}

.radius-5 {
  border-radius: 5px;
}

.radius-6 {
  border-radius: 6px;
}

.border {
  border: 1px solid #ededec;
}

.border-dark {
  border: 1px solid rgba(55, 53, 47, 0.3);
}

.border-light {
  border: 1px solid rgba(55, 53, 47, 0.09);
}

.border-left-light {
  border-left: 1px solid rgba(55, 53, 47, 0.09);
}

.border-bottom-light {
  border-bottom: 1px solid rgba(55, 53, 47, 0.09);
}

.v-switch {
  margin-top: 6px;
  margin-right: 10px;
  width: 30px;
  height: 18px;
}
.v-switch span.p-inputswitch-checked:before {
  transform: translateX(12px);
}
.v-switch span.p-inputswitch-slider:before {
  background: #ffffff;
  width: 14px;
  height: 14px;
  left: 2px;
  margin-top: -7px;
  border-radius: 50%;
  transition-duration: 0.2s;
}

.v-switch.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
  transform: translateX(12px) !important;
}

.p-breadcrumb-chevron {
  margin: 0 0.2em 0 0.2em !important;
}

.p-breadcrumb-chevron.pi-chevron-right:before {
  content: "/";
  font-weight: 600;
  opacity: 0.5;
}

.v-chip {
  display: inline-flex;
  align-items: center;
  flex-shrink: 1;
  min-width: 0px;
  height: 16px;
  border-radius: 3px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 14px;
  line-height: 120%;
  color: #37352f;
  margin: 0px;
}
.v-chip .label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
  padding-bottom: 3px;
  padding-top: 2px;
}

.v-padding-left {
  padding-left: calc(96px + env(safe-area-inset-left));
}

.v-padding-right {
  padding-right: calc(96px + env(safe-area-inset-right));
}

.v-no-padding {
  padding: 0 !important;
}

.dark {
  color: #37352f !important;
}

.triangle-point-right {
  width: 12px;
  transform: rotate(90deg);
  fill: rgba(55, 53, 47, 0.3);
  margin-right: 0px;
  flex-shrink: 0;
}

.p-confirm-dialog-message {
  white-space: pre-line;
  margin-right: 4em;
}

.p-radiobutton + label {
  cursor: pointer;
}
